.btn {
  //   display: inline-block;
  padding-inline: var(--112px);
  padding-block: var(--12px);
  background-color: var(--blue);
  width: 90%;
  text-align: center;

  border-radius: 1.8125rem;
  text-decoration: none;
  color: var(--clr-white);
  font-weight: var(--f-w-b);
}

.section__hero_btn--down {
  background-color: var(--clr-green);
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    background-color: #71c0d4;
  }
}
